
.weather-card {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* Espaço entre as colunas */
  }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
  }
  
.weather-card h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    text-align: left;
}
  
.weather-card p {
    font-size: 1.2rem;
    margin: 8px 0;
    text-align: left;
}
  
.weather-card img {
    width: 50px;
    height: 50px;
}
  

.weather-dashboard {
    display: flex;
    flex-direction: column;
}
  
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.chart-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    justify-content: center;
    align-items: center;
}
  
.chart-card {
    border: 1px ridge #ffff;
    border-radius: 25px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container-wrapper {
    height: 400px;
    border: 1px ridge #ffff; 
    border-radius: 25px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

.card {
    border: 1px ridge #ccc; 
    padding: 10px; 
    margin: 10px; 
  }

.wind-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}


.pressure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}
